<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Demo Bundle{% endblock %}</title>
        <link rel="icon" sizes="16x16" href="{{ asset('bundles/ninatest/images/mopad.ico') }}" />
        <link rel="stylesheet" href="{{ asset('bundles/ninatest/css/teststyle.css') }}" />
    </head>
    <body>
        <div id="symfony-wrapper">
            <div id="symfony-header">
                <a href="{{ path('_test') }}">
                    <img src="{{ asset('bundles/ninatest/images/mopadlogo.png') }}" alt="MoPad logo" />
                </a>
            </div>

            {% for flashMessage in app.session.flashbag.get('notice') %}
                <div class="flash-message">
                    <em>Notice</em>: {{ flashMessage }}
                </div>
            {% endfor %}

            {% block content_header %}
                <ul id="menu">
                    {% block content_header_more %}
                        <li><a href="{{ path('_test') }}">Home</a></li>
                    {% endblock %}
                </ul>

                <div style="clear: both"></div>
            {% endblock %}

            <div class="symfony-content">
                {% block content %}
                {% endblock %}
            </div>

        </div>
    </body>
</html>
