AcmeStoreBundle <br />
Hello {{ name }}! <br /> <br />
<a href="{{ path('_acme_store_create', {})}}">create product</a> <br />
<a href="{{ path('_acme_store_show', {'id': '1'})}}">show product id:1</a> <br />
<a href="{{ path('_acme_store_update', {'id': '1'})}}">update product id:1</a> <br />
<a href="{{ path('_acme_store_remove', {'id': '1'})}}">remove product id:1</a> <br />
<a href="{{ path('_acme_store_search', {})}}">search</a> <br />
<a href="{{ path('_acme_store_search2', {})}}">search2</a> <br />